.card {
  width: 250px;
  height: 250px;
}

.dropdown-item :hover {
  border-color: grey;
}

.control {
  margin: 5px auto;

  width: 180px;
}

.fordropsize {
  width: 180px;
}

.loader-position {
  position: fixed;
  left: 1250px;
}